<h2>Welcome to the password protected area</h2>

<p>Hello, {{username}}</p>

<P>You signed up on {{signupDate}}</P>

<h3>Your favorite things</h3>

<P>Your favorite color is
    {{#if favorites.color}}
        {{favorites.color}}
    {{else}}
        not set
    {{/if}}</P>

<P>Your lucky number is
    {{#if favorites.luckyNumber}}
        {{favorites.luckyNumber}}
    {{else}}
        not set
    {{/if}}</P>

<h3>Update your favorite things</h3>

<ul>
    {{#each messages}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<form action="/saveSecrets" method="POST">
    Favorite Color: <input type="text" name="color">  <br>
    Lucky Number: <input type="number" name="luckyNumber">  <br>
    <input type="submit" name="updateSecrets" value="Update Secrets">
</form>

<a href="/logout">Log out</a>